<div>
  Div:
  <app-meu-comp></app-meu-comp>
</div>

<!--  utilizando essa tag, ela não é renderizada no DOM. mas vai fazer parte do DOM logo apos do carregamento final. -->
<ng-container>
  Container:
  <app-meu-comp></app-meu-comp>
</ng-container>

<!--  utilizando essa tag, o conteúdo não é renderizado e também não inicializado -->
<ng-template>
  Template:
  <app-meu-comp></app-meu-comp>
</ng-template>


<!-- ===================================================================================================================== -->
<br>
<br>
<br>

<!-- Brincando com o método de passar Inputs pelo ng-template -->

<ng-template #headerTemplate>
  <p>Sou o Header</p>
</ng-template>

<ng-template #contentTemplate>
  <p>Sou o Content</p>
</ng-template>

<ng-template #footerTemplate>
  <p>Sou o Footer</p>
</ng-template>

<app-card
  [header]="headerTemplate"
  [content]="contentTemplate"
  [footer]="footerTemplate"
></app-card>



